* {
  outline: none;
}

.admin-div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3b3a3a;
}

.topnav {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 20%;
  width: 100%;
}
.topnavbtns {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.topnav-btn {
  height: 30%;
  width: 70%;
  font-size: 18px;
  border: none;
  color: lightgray;
  border-radius: 11px;
  border-radius: 11px;
  border-radius: 11px;
  background: #3b3a3a;
  box-shadow: 9px 9px 19px #2e2d2d, -9px -9px 19px #484747;
  outline: none;
}
.main-div {
  display: flex;
  height: 80%;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
