.loginpagediv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landingpage-form {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 3px 3px 5px 6px rgb(231, 231, 231);
  -moz-box-shadow: 3px 3px 5px 6px rgb(231, 231, 231);
  box-shadow: 3px 3px 5px 6px rgb(231, 231, 231);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.switcher-div {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: black;
  border-radius: 10px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 9px 9px 17px #bfbfbf, -9px -9px 17px #ffffff;
}
.loginclientType {
  position: relative;
  font-size: 20px;
}
.loginpageelement-div {
  position: relative;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.loginpageelement {
  position: relative;
  width: 80%;
  height: 60px;
  font-size: 24px;
  color: rgb(214, 32, 78);
}
.loginpageelement-div input {
  border: none;
  outline: none;
  border-radius: 10px;
  background: #ffffff;
  border-radius: 9px;
  background: #ffffff;
  box-shadow: inset 8px 8px 16px #cccccc, inset -8px -8px 16px #ffffff;
  height: 60px;
}
#usernameInput {
  margin-bottom: 10px;
}
/* slider design */
.switch {
  position: relative;
  top: 2.5%;
  right: 5%;
  width: 50px;
  height: 24px;
  outline: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.clientType {
  position: absolute;
  right: 5%;
  top: 5%;
  font-family: Verdana;
  color: rgb(44, 44, 250);
  font-size: 12px;
}
.bottom-element {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginpageelement-div button {
  border: none;
  outline: none;
  border-radius: 20px;
  border-radius: 10px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 9px 9px 17px #bfbfbf, -9px -9px 17px #ffffff;
}
