.userRegisterbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f2f2f2;
}
.formbox {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userRegister-title {
  position: relative;
  margin-top: 3%;
  height: 7%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(145deg, #dadada, #ffffff);
  box-shadow: 9px 9px 19px #c9c9c9, -9px -9px 19px #ffffff;
}
.userRegister-title h1 {
  font-size: 26px;
}
.userinputs-div {
  position: relative;
  width: 98%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userinput {
  position: relative;
  height: 40px;
  width: 70%;
  margin: 5px;
  color: black;
  border: none;
  border-bottom: 1px solid gray;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #f2f2f2;
  box-shadow: inset 4px 4px 8px #c9c9c9, inset -4px -4px 8px #ffffff;
  padding: 10px;
}
.birthday-div {
  position: relative;
  display: flex;
  width: 82.5%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.submit-btn {
  color: black;
  border: 1px black solid;
  border-radius: 5px;
  background: #f2f2f2;
  box-shadow: 4px 4px 8px #c9c9c9, -4px -4px 8px #ffffff;
}
