.signup-form {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.signup-label {
  font-family: verdana;
  font-weight: normal;
  font-size: 14px;
}
.signup-input {
  position: relative;
  font-family: verdana;
  font-weight: normal;
  font-size: 14px;
  outline: none;
  margin: 10px;
  height: 30px;
}
.signup-input:hover,
.signup-input:focus {
  border: none;
  border-bottom: 1px black solid;
}

.signup-btn {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 100px;
  outline: none;
  cursor: pointer;
}

.name {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 60%;
}
.birthdate {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 90%;
}

#genderlabel {
  position: absolute;
  top: 40%;
  left: 20%;
}

#genderinput {
  position: absolute;
  top: 38%;
  left: 25%;
}

#emaillabel {
  position: absolute;
  top: 40%;
  left: 44%;
}

#emailinput {
  position: absolute;
  top: 38%;
  left: 47%;
}

#contactlabel {
  position: absolute;
  top: 40%;
  left: 60%;
}

#contactinput {
  position: absolute;
  top: 38%;
  left: 67%;
}

.address {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 90%;
}
.address2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 90%;
}
.info {
  position: absolute;
  top: 70%;
  left: 47.5%;
  transform: translateX(-50%);
  height: 150px;
  width: 60%;
}
.signup-btn {
  position: absolute;
  bottom: 15%;
  left: 55%;
  transform: translateX(-50%);
}
.link {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
